h1{
	color: E80CA3;
	font-family: Arial, sans-serif;
}
body{
	background: E8C1D4;
	font-family: Arial, sans-serif;
}
p{
	font-style: italic;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
}