h1 {
	color: ;
	font-family: Arial, sans-serif;
	font-size: 24px;
}
hr{
	width: 200px;
}

p { 
	font-family: Arial, sans-serif;
	font-size: 20px;
}

body {
	text-align: center;
	font-family: Arial, sans-serif;
	background-color: #CD5C5C;
}